body{
    background: #01087C;
    font-family:Arial;
}
.assignment{
    display:flex;
    padding: 10px;
    margin: 10px;
    background:#4048C9;
}

.assignment img{
    width: 200px;
    border: 2px solid lightblue;
    margin-right:20px;
}

h1{
    color: b#0311FC;
    text-align:center;
}

a{
    text-decoration: none;
    color: rgb(13, 221, 236)
}