body{
    background: #01087C;
    font-family:Arial;
}

.assignment{
    display:flex;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
    background:#4048C9;
    border-radius:5px;
    box-shadow: 5px 8px lightblue;
}

.assignment img{
    width: 200px;
    border: 2px solid lightblue;
    margin-right:20px;
    border-radius:5px;
}

h1{
    color: b#0311FC;
    text-align:center;
}

a{
    text-decoration: none;
    color: white;
}

.assignment a:hover{
    color: rgb(0, 217, 255);
}